@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --invite: #10d3a2;
    --join: #5865F2;
    --aww: #EB459E;
    --cf_orange: #F48120;
    --cf_yellow: #face3f;
    --reddit-red: #ff4500;
    --btn_border: rgb(169, 169, 169);
}

* {
    font-family: 'Roboto';
    background-color: #423442;
}

.heading {
    margin-top: 0px;
}

.heading u {
    font-size: 3rem;
    color: var(--aww);
}

#cat {
    width: 6rem;
    transform: translateY(20px);
}

#octocat {
    width: 4rem;
    transform: translateY(23px);
}

#logo img#cat {
    display: inline-block;
}

#logo img#octocat {
    display: none;
}

#logo:hover img#cat {
    display: none;
}

#logo:hover img#octocat {
    display: inline-block;
    margin-left: 16px;
    border: 8px solid black;
    border-radius: 69px;
}

.about {
    font-size: 22px;
    color: var(--aww);
}

.about a {
    color: var(--reddit-red);
    text-decoration: none;
}

.about a:hover {
    color: var(--cf_orange);
    text-decoration: underline;
}

.about code {
    color: var(--cf_yellow);
}

.invite a {
    font-size: 30px;
    color: var(--invite);
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 35px;
    border: 3px dotted var(--btn_border);
}

.invite a:hover {
    font-size: 30px;
    color: var(--invite);
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 35px;
    border: 3px solid var(--invite);
    text-decoration: none;
}

.join a {
    font-size: 21px;
    color: var(--join);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 35px;
    border: 3px dotted var(--btn_border);
}

.join a:hover {
    font-size: 21px;
    color: var(--join);
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 35px;
    border: 3px solid var(--join);
    text-decoration: none;
}

.below_join a {
    font-size: 20px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 35px;
    border: 3px dotted var(--btn_border);
}

.below_join a:hover {
    font-size: 20px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-radius: 35px;
    text-decoration: none;
}

.status {
    color: rgba(59, 214, 113, 255);
    margin-right: 11px;
}

.status:hover {
    color: rgba(59, 214, 113, 255);
    margin-right: 11px;
    border: 3px solid rgba(59, 214, 113, 255);
}

.top_gg {
    color: #FF3366;
}

.top_gg:hover {
    color: #FF3366;
    border: 3px solid #FF3366;
}

.cf {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 40px;
    color: var(--cf_yellow);
    border-top: 2px solid var(--aww);
    background-color: #382d38;
}

.cf a {
    font-size: 16px;
    color: var(--cf_orange);
    background-color: #382d38;
}

.cf a:hover {
    font-size: 16px;
    color: var(--cf_yellow);
    text-decoration: none;
    background-color: #382d38;
}

.img-credit {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 23px;
    color: var(--cf_yellow);
    background-color: #382d38;
}

.img-credit a {
    font-size: 13px;
    color: var(--cf_orange);
    background-color: #382d38;
}

.img-credit a:hover {
    font-size: 13px;
    color: var(--cf_yellow);
    text-decoration: none;
    background-color: #382d38;
}

.legal {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    color: var(--aww);
    background-color: #382d38;
}

.legal a {
    font-size: 13px;
    color: var(--aww);
    background-color: #382d38;
}

.legal a:hover {
    font-size: 13px;
    color: var(--invite);
    text-decoration: none;
    background-color: #382d38;
}

.legal-h1 {
    font-size: 3rem;
    color: var(--aww);
}

.legal-ol {
    font-size: 1.5rem;
    margin-left: 25px;
    margin-right: 25px;
    color: var(--cf_orange);
}

.legal-ol li {
    margin-bottom: 20px;
}

.legal-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: var(--join);
    border-top: 2px solid var(--aww);
    background-color: #382d38;
}

.legal-nav a {
    font-size: 15px;
    color: var(--cf_yellow);
    background-color: #382d38;
}

.legal-nav a:hover {
    font-size: 15px;
    color: var(--aww);
    text-decoration: none;
    background-color: #382d38;
}